body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* ---------- LOGIN ---------- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  border: 1px solid #2a2a2a;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  font-size: 14px;
  color: #aaa;
}

.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background: #2d2d2d;
  color: white;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google-btn:hover {
  background: #3a3a3a;
}

.google-icon {
  width: 18px;
}

.divider {
  margin: 20px 0;
  color: #777;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
  background: #2d2d2d;
  color: white;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

/* ---------- HOME (MENU) ---------- */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
}

.menu-item {
  background: #2d2d2d;
  border-radius: 20px;
  padding: 40px;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  background: #3a3a3a;
  transform: scale(1.05);
}

.menu-item span {
  font-size: 60px;
  color: white;
}

#criarEventoBtn {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  color: black;
  cursor: pointer;
}

#criarEventoBtn:hover {
  opacity: 0.8;
}