# JSON completo da conta de serviço do Firebase, fornecido pelo GitHub Actions Secret.
FIREBASE_SERVICE_ACCOUNT=

# Chave de acesso à API pública DataJud/CNJ, fornecida pelo GitHub Actions Secret.
DATAJUD_API_KEY=
